@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 63%;
    --radius: 0.625rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark:root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 70.9% 59.4%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 300 0% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  .flex-center {
    @apply items-center justify-center;
  }

  .flex-between {
    @apply items-center justify-between;
  }

  .flex-start {
    @apply items-start justify-center;
  }
}

@layer components {
  .cart-btn {
    @apply bg-dark-100 flex size-10 items-center justify-center rounded-full;
  }

  .cart-badge {
    @apply absolute -right-1 -top-2 flex size-4 items-center justify-center rounded-full bg-primary;
  }

  .cart-item {
    @apply shadow-dark-100/10 mb-4 flex flex-row items-end justify-between rounded-xl bg-white p-3 shadow-md;
  }

  .cart-item__image {
    @apply flex size-24 items-center justify-center rounded-lg bg-primary/10;
  }

  .cart-item__actions {
    @apply flex size-5 flex-row items-center justify-center rounded-md bg-primary/10;
  }

  .custom-btn {
    @apply flex w-full flex-row justify-center rounded-full bg-primary p-3;
  }

  .custom-header {
    @apply mb-10 flex w-full flex-row items-center justify-between;
  }

  .label {
    @apply font-quicksand-medium w-full pl-2 text-start text-base text-gray-500;
  }

  .input {
    @apply font-quicksand-semibold text-dark-100 w-full rounded-lg border-b p-3 text-base leading-5;
  }

  .filter {
    @apply mr-2 rounded-full px-6 py-3 shadow-sm shadow-black/10;
  }

  .menu-card {
    @apply relative flex items-center justify-end rounded-3xl bg-white px-3.5 py-9 pt-24 shadow-md shadow-black/10;
  }

  .profile-field {
    @apply mb-4 flex flex-row items-center justify-start;
  }

  .profile-field__icon {
    @apply mr-3 flex size-12 items-center justify-center rounded-full bg-primary/10;
  }

  .searchbar {
    @apply font-quicksand-medium text-dark-100 relative flex w-full flex-row items-center justify-center gap-5 rounded-full bg-white shadow-md shadow-black/10;
  }

  .offer-card {
    @apply my-3 flex h-48 w-full items-center gap-5 overflow-hidden rounded-xl shadow-lg;
  }

  .offer-card__info {
    @apply flex h-full flex-1 flex-col items-start justify-center gap-4;
  }

  .profile-avatar {
    @apply relative size-28 rounded-full border-2 border-white;
  }

  .profile-edit {
    @apply absolute bottom-2 right-0 flex size-7 items-center justify-center rounded-full border-2 border-white bg-primary p-2;
  }

  .h1-bold {
    @apply font-quicksand-bold text-3xl;
  }

  .h3-bold {
    @apply font-quicksand-bold text-xl;
  }

  .base-bold {
    @apply font-quicksand-bold text-lg !important;
  }

  .base-semibold {
    @apply font-quicksand-semibold text-lg;
  }

  .base-regular {
    @apply font-quicksand text-lg;
  }

  .paragraph-bold {
    @apply font-quicksand-bold text-base;
  }

  .paragraph-semibold {
    @apply font-quicksand-semibold text-base;
  }

  .paragraph-medium {
    @apply font-quicksand-medium text-base;
  }

  .body-medium {
    @apply font-quicksand-medium text-sm;
  }

  .body-regular {
    @apply font-quicksand text-sm;
  }

  .small-bold {
    @apply font-quicksand-bold text-xs;
  }
}
